<!DOCTYPE HTML> 

<html lang="en" xmlns:th="http://www.thymeleaf.org"> 
	<head> 
<!-- Required meta tags --> 
<meta charset="utf-8"> 

<title>Employee Directory</title> 
	</head> 
<body> 
	<div class="container"> 
		<h3> Employee Directory</h3> 
		<hr> 
		<p class="h4 mb-4">SAVE EMPLOYEE</p> 
		<form action="#" th:action="@{/crud/save}" method="POST" th:object="${employee}"> 
			<input type="hidden" th:field="*{id}">
			<input type="text" th:field="*{name}" class="form-control mb-4 w-25" placeholder="Name"/> <br><br><br>
			<input type="text" th:field="*{salary}" class="form-control mb-4 w-25" placeholder="Salary"/> <br><br><br>
			<input type="text" th:field="*{designation}" class="form-control mb-4 w-25" placeholder="Designation"/><br><br><br> 
			<button type="submit"th:href="@{/crud/save}" class="btn btn-info col-2">SAVE</button>	 
		</form> 
		<hr> 
		<a th:href="@{/crud/employees}">Back To Employee Directory</a> 
	</div> 
</body> 
</html>  
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> 

<!-- Bootstrap CSS --> 

<link href="https://cdn.jsdelivr.net/npm/bootstrap"/>	 